
<div class="container-center-horizontal">
    <div class="tela">
      <div class="baralho"></div>
      <div class="cartas">
        <div class="carta-container-1">
          <div class="carta"></div>
          <div class="carta-1"></div>
        </div>
        <div class="carta-container">
          <div class="carta"></div>
          <div class="carta-1"></div>
        </div>
        <div class="carta-container">
          <div class="carta"></div>
          <div class="carta-1"></div>
        </div>
      </div>
      <div class="flex-col">
        <div class="objetivo"></div>
        <div class="coracoes">
          <div class="corpeq-container">
            <div class="corpequeno"></div>
            <div class="bonus"></div>
          </div>
          <div class="corgrande-container">
            <div class="corgrande"></div>
            <div class="bonus"></div>
        </div>
      </div>
    </div>
  </div>
