.container {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  padding-bottom: 10px;
  justify-content: space-around;
  padding-bottom: 8px;

  .cartas-disponiveis {
    display: flex;
    flex-direction: column;

    .grupo-cartas {
      display: flex;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }

  .carta {
    border: 2px solid black;
    padding: 20px;
    background: var(--input-backgroundColor);
    word-wrap: break-word;

    &:not(:first-child) {
      margin-left: 24px;
    }

    &-baralho {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      justify-content: space-around;
      min-width: 150px;
      max-width: 150px;
      height: 250px;
      cursor: pointer;

      .imagem {
        &-lila {
          width: 90px;
          height: 150px;
        }

        &-logo {
          width: 120px;
          height: 70px;
        }
      }
    }

    &-vertical {
      min-width: 150px;
      max-width: 150px;
      height: 250px;

      .cabecalho {
        height: 35px;
        display: flex;
        justify-content: space-between;

        .titulo {
          margin-bottom: 0;
          line-height: 24px;
          font-size: calc(var(--tamanhoFonte) - 4pt);
        }

        .pontos {
          background-color: black;
          min-width: 1.7em;
          min-height: 1.7em;
          max-width: 1.7em;
          max-height: 1.7em;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 15px;
          border-radius: 50%;

          .pt {
            margin-top: 15px;
            font-size: calc(var(--tamanhoFonte) - 3pt);
            font-weight: bold;
          }
        }
      }

      .corpo {
        margin-top: 10px;

        .definicao {
          margin-bottom: 0;
          padding-right: 8px;
          min-height: 80px;
          max-height: 80px;
          overflow-y: auto;
          font-size: calc(var(--tamanhoFonte) - 4pt);
        }

        .icones {
          min-height: 35px;
          margin-top: 16px;
          font-size: var(--tamanhoFonte);
          display: flex;
          justify-content: space-between;
          align-items: center;

          .coracoes {
            display: flex;
            align-items: center;

            .coracao:not(:first-child) {
              margin-left: 8px;
            }

            .coracao-pequeno {
              width: 0.9em;
              height: 0.9em;
            }

            .coracao-grande {
              width: 1.25em;
              height: 1.25em;
            }
          }

          .presentes {
            position: relative;

            .presente {
              width: 1.75em;
              height: 1.75em;
            }

            .presenteInfoAcoes {
              width: 1em;
              position: absolute;
              bottom: 0px;
              right: -5px;
            }
          }
        }
      }

      .rodape {
        margin-top: 20px;

        .fonte {
          max-height: 50px;
          overflow-y: auto;
          display: block;
          font-size: calc(var(--tamanhoFonte) - 6pt);
        }
      }
    }

    &-objetivo {
      display: flex;
      min-width: 250px;
      max-width: 250px;
      height: 140px;

      &-logotexto {
        display: flex;
        flex-direction: column;
      }

      .imagem {
        &-logo {
          height: 70px;
        }

        &-lila {
          width: 200px;
          height: 150px;
        }
      }

      .texto {
        color: #351c75;
      }
    }
  }

  .informacoes-gerais {
    display: flex;
    flex-direction: column;
    align-items: center;

    .coracoes {
      display: flex;
      flex-direction: column;
      margin-top: 24px;

      .grupo-coracoes {
        display: flex;
        margin-top: 24px;

        .coracao {
          width: 64px;
          height: 64px;
          border: 2px solid black;

          &:not(:first-child) {
            margin-left: 24px;
          }
        }
      }
    }
  }
}

.y-scroll {
  &::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(0, 0, 0, 0.25);

    &-thumb {
      background-color: black;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    justify-content: unset;
    align-items: center;

    .cartas-disponiveis,
    .informacoes-gerais {
      margin-top: 32px;
    }
  }
}

@media (max-width: 670px) {
  .cartas-disponiveis {
    .grupo-cartas {
      flex-direction: column;

      .carta {
        margin: 32px 0 0;
      }
    }
  }
}
