<div class="container">
    <div>
        <img src="../../../assets/img/logoLilaSozinho.png" alt="">
    </div>
<div>    
    <h2>
        Cadastre a senha para o usuário administrador
    </h2>
</div>
<div>
    <mat-form-field appearance="fill">
      <mat-label>Digite a Senha</mat-label>
      <input type="password" matInput placeholder="Senha$12" [formControl]="senha" required ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{7,30}$/">
      <mat-error *ngIf="senha.invalid">{{mensagemDeErro()}}</mat-error>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
      <mat-label>Confirme a Senha</mat-label>
      <input type="password" matInput placeholder="Senha$12" [formControl]="confirmaSenha" required ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{7,30}$/">
      <mat-error *ngIf="confirmaSenha.invalid">{{mensagemDeErro()}}</mat-error>
    </mat-form-field>
</div>
<div>
    <button mat-raised-button (click)="enviar('mensagemErro')">Enviar</button>
    <button mat-raised-button [routerLink]="['']" >Cancelar</button>
</div>
</div>

<jw-modal id="mensagemErro" alt= "Mensagem de erro">
    <h2>Senha incorreta</h2>
    <button (click)="fecharModal('mensagemErro')" mat-raised-button>
        Cancelar
      </button>
  </jw-modal>