.cartas-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .carta {
    margin-left: 80px;
    border: 2px solid black;
    max-width: 200px;
    min-width: min-content;
    padding: 20px;
    background: var(--input-backgroundColor);

    .titulo {
      display: flex;
      justify-content: space-between;
      font-size: var(--tamanhoFonte);

      .pontos {
        background-color: black;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 20px;
        border-radius: 50%;

        .pt {
          margin-top: 15px;
          font-size: var(--tamanhoFonte);
        }
      }
    }
    .definicao {
      margin-top: 20px;
      font-size: var(--tamanhoFonte);
      line-height: 30px;
    }

    .icones {
      font-size: var(--tamanhoFonte);
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      .coracoes {
        display: flex;

        .coracao:not(:first-child) {
          margin-left: 8px;
        }

        .coracao-pequeno {
          width: 0.90em;
          height: 0.90em;
        }

        .coracao-grande {
          width: 1.25em;
          height: 1.25em;
        }
      }

      .presentes {
        position: relative;

        .presente {
          width: 2em;
          height: 2em;
        }

        .presenteInfoAcoes {
          width: 1em;
          position: absolute;
          bottom: 0px;
          right: -5px;
        }
      }
    }

    .fonte {
      margin-top: 20px;
      display: block;
      font-size: var(--tamanhoFonte);
    }
  }
}
.cartas-objetivo {
  margin-left: 80px;
  border: 2px solid black;
  width: 330px;
  height: min-content;
  padding: 16px;
  background: var(--input-backgroundColor);
  .nome {
    color: #38761d;
    text-align: justify;
    font-size: var(--tamanhoFonte);
  }
}
.cartas-inicio {
  margin-left: 80px;
  border: 2px solid black;
  width: 330px;
  height: min-content;
  padding: 16px;
  background: var(--input-backgroundColor);
}
.texto {
  margin-bottom: 60px;
  text-align: justify;
  font-size: var(--tamanhoFonte);
  line-height: 30px;
}
