<div class="logo">
    <figure>
        <img class="imagem" src="assets/img/logoLilaSozinho.png" alt="Logo Lila">
    </figure>
</div>
<div class="container">

    <div class="row">
        <div class=" first-col">
            <button class="mat-raised-button custom-button" matRipple>Baralho</button>
            <button class="mat-raised-button custom-button" matRipple>Categoria de Cartas</button>
            <button class="mat-raised-button custom-button" matRipple>Tipos de Cartas</button>
            <button class="mat-raised-button custom-button" matRipple>Bônus</button>
        </div>
        <div class="second-col">
            <button class="mat-raised-button custom-button" matRipple>Cartas do Jogo</button>
            <button class="mat-raised-button custom-button" matRipple>Cartas de Início</button>
            <button class="mat-raised-button custom-button" matRipple>Cartas de Objetivo</button>
            <button class="mat-raised-button custom-button" matRipple>Sair</button>
        </div>
    </div>
</div>