#check{
    display:none;
    
}
#lbcheck{
    
    position: absolute;
    z-index: 1;
}

label{
    color:var(--color-acessibilidade);
    font-size: var(--tamanhoFonte);
}

.barra{
    background-color: #333;
    height: 100%;
    width:300px;
    position:absolute;
    transition: all .2s linear;
    left:-300px;
}

nav{
    width:100%;
    position:absolute;
    top:60px;
}
nav label{
    background-color: #494950;
    padding: 10px;
    transition: all 0.2s linear;
    color:#f4f4f9;
    border-bottom: 2px solid #222;
    opacity:0;
    margin-top: 200px;
}
nav label:hover{
    background-color: #050542;
}

#check:checked ~.barra{
    transform: translateX(300px);
}

#check:checked ~.barra label{
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}
/*
div{
    
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: auto;
    
    background-color: black;
    border-radius: 30px;
    
    
}

//menu para alteração de fonte e contraste

label{
    padding: 2px;
    display: inline-block;
    font-size:15pt;
    margin-right: 10px;
    color:white;
    
      
    
  }*/