<div class="container">
    <div class="area-jogadores">
        <li class="lista-jogadores" *ngFor="let jogador of jogadores">
            
            <button class="btn-jogadores"(click)="abrirModal()">
                <app-indica-jogador
                *ngIf="sala.status == 'JOGANDO' && jogador.status=='JOGANDO'" mensagem="Jogando"
                ></app-indica-jogador>

                <app-indica-jogador
                *ngIf="sala.status == 'ULTIMA_JOGADA' && jogador.status=='JOGANDO'" mensagem="Jogando"
                ></app-indica-jogador>

                <app-indica-jogador
                *ngIf="sala.status == 'JOGANDO' && jogador.status=='ESPERANDO'" mensagem="Aguardando"
                ></app-indica-jogador>

                <app-indica-jogador
                *ngIf="sala.status == 'ULTIMA_JOGADA' && jogador.status=='ESPERANDO'" mensagem="Aguardando"
                ></app-indica-jogador>

                <img class="avatar" src="assets/blank-profile-picture-gb56d1b702_1280.png">
            <p>Nick: {{jogador.nome}}</p>
            </button>
        </li>
    </div>
</div>

<jw-modal id="mao-jogador">
    <app-mao-jogador></app-mao-jogador>
    <button (click)="fecharModal()">Fechar</button>
</jw-modal>
