<div class="container">
  <div class="url">
    <h1 class="texto">Mesa criada:</h1>
    <div>
      <p class="link-da-mesa">{{ link }}</p>
      <button
        class="btn-copiar"
        mat-icon-button
        color="primary"
        aria-label="Copiar link para a área de transferência"
        [cdkCopyToClipboard]="link"
      >
        <mat-icon>content_copy</mat-icon>
      </button>

      <button class="btn-inicio" mat-raised-button color="primary">
        Iniciar Jogo
      </button>
    </div>
  </div>

  <div class="area-da-mesa"></div>
</div>
